body, main {
    display: flex
}
body
{
    flex-direction: column;
}
main
{
    flex:auto;
    flex-direction: row;
    overflow-y: auto;
}
article
{
    overflow-y: auto;
    flex:2;
}
aside{
    overflow-y: auto;
    flex: 1;
}
.works_on_smartphone
{
    
}